<ion-header>
  <app-header title="Consultar Professor"></app-header>
</ion-header>

<ion-content>
  <div class="container" *ngIf="professor">
    <img src="assets/avatar.png"/>
    <ul>
      <li>
        <ion-icon name="person-circle-outline"></ion-icon>
        <span>{{ professor.nomeCompleto }}</span>
      </li>
      <li>
        <ion-icon name="mail-outline"></ion-icon>
        <span>{{ professor.email }}</span>
      </li>
      <li>
        <ion-icon name="call-outline"></ion-icon>
        <span>{{ professor.telefoneCelular }}</span>
      </li>
    </ul>
    <ion-button color="primary" (click)="openUrl()">
      <ion-icon name="logo-whatsapp"></ion-icon>
      <span>Consultar Professor</span>
    </ion-button>
  </div>
</ion-content>
