ion-grid {
  ion-row {
    ion-col {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      form {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 300px;
        margin-top: 80px;

        h1 {
          color: #343a40;
          text-align: center;
        }

        img {
          align-self: center;
          margin-bottom: 10px;
        }

        ion-item {
          margin: 10px 0 10px 0;
        }

        ion-button {
          margin-top: 15px;
        }
      }
    }
  }

}
