ion-grid {
  ion-row {
    ion-col {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 100px;

      form {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 300px;

        img {
          align-self: center;
          margin-bottom: 40px;
        }

        ion-item {
          margin: 10px 0 10px 0;
        }

        ion-button {
          margin-top: 15px;
        }
      }
    }
  }

}
