<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <img src="assets/logo.png" width="230">
          <ion-item class="ion-no-padding">
            <ion-label position="floating">Login</ion-label>
            <ion-input type="text" formControlName="login"></ion-input>
          </ion-item>
          <ion-item class="ion-no-padding">
            <ion-label position="floating">Senha</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <ion-button type="submit" color="primary" [disabled]="form.invalid">Entrar</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
