<ion-header>
  <app-header title="Suas Séries"></app-header>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let exercise of exercises" [routerLink]="['/series','exercicio', exercise.id]">
      <div class="container">
        <img [src]="exercise.url">
        <div class="info">
          <span class="title">{{ exercise.name }}</span>
          <span class="description">{{ exercise.repetitionQtd }} X {{ exercise.repetition }} Reps.</span>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
