<ion-header>
  <app-header title="Exercícios"></app-header>
</ion-header>

<ion-content>
  <ion-list *ngIf="cargaExercicio">
    <ion-item *ngFor="let exercicio of cargaExercicio.exercicios" [routerLink]="['/series','exercicio', convertJson(exercicio)]">
      <div class="container">
        <img src="assets/halteres.png">
        <div class="info">
          <span class="title">{{ exercicio.nome }}</span>
          <span class="description">{{ exercicio.quantidadeSeries }} X {{ exercicio.quantidadeRepeticoes }} Reps.</span>
          <span class="description">Máquina 30</span>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
