<ion-header>
  <app-header [title]="'Exercício - '+exercicio.nome"></app-header>
</ion-header>

<ion-content>
  <div class="container">
    <div class="gif">
      <img [src]="exercicio.caminhoVideo"/>
      <span class="help" *ngIf="professor" (click)="openUrl()">
        <ion-icon name="help-circle-outline"></ion-icon>
      </span>
      <!-- <span class="identifier">30</span> -->
    </div>

    <ul>
      <li *ngFor="let item of list">
        <span class="title">{{ item.title }}:</span>
        <span class="text">{{ item.text }}</span>
      </li>
      <li>
        <ion-button color="primary" (click)="editarPeso(exercicio.peso)">
          <ion-icon name="barbell-outline"></ion-icon>
          <span>Editar Peso</span>
        </ion-button>
      </li>
    </ul>
  </div>
</ion-content>
