<ion-header>
  <app-header [title]="'Carga Exercícios - ' + cargaExercicio.nomeCargaExercicio"></app-header>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let exercicio of cargaExercicio.exercicios" [routerLink]="['exercicios', exercicio.id]">
      <div class="container">
        <img src="assets/halteres.png">
        <div class="info">
          <span class="title">{{ exercicio.nome }}</span>
          <span class="description">{{ exercicio.quantidadeSeries }} X {{ exercicio.quantidadeRepeticoes }} Reps.</span>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
